<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trafico Peajes Perú Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <div id="app">
        <!-- Buefy components goes here -->
        <section class="hero is-primary">
            <div class="hero-body">
              <p class="title">
                Trafico Peajes Perú Predictor
              </p>
              <p class="subtitle">
                ¿Saldrás de viaje? Predice el tráfico de vehiculos en los peajes dentro del Perú
              </p>
            </div>
        </section> 


        <div class="container">
            <div class="box mt-4"> 

                <div class="columns">
                    <div class="column">
                        <h4 class="title is-4">Información</h4>
                    </div>

                </div>
                

                <div class="columns">
                    <div class="column"> 

                        <section class="m-4">

                            <h5 class="title is-5">1. Colocar fechas de pases (Máx 5) </h5> 

                            <section>
                                
                                <div 
                                v-for="(dateItem, counter) in datesContent"
                                v-bind:key="counter">

                                    <b-field label="Selecciona fecha">
                                        <b-datepicker
                                            v-model="dateItem.date"
                                            :show-week-number="showWeekNumber"
                                            :locale="locale"
                                            placeholder="Elige una fecha..."
                                            icon="calendar-today"
                                            trap-focus>
                                        </b-datepicker>
                                    </b-field> 
                                    
                                </div>

                                

                                <b-button v-if="countDates<5" @click="addDate" type="is-ghost">+ Añadir fecha</b-button>

                            </section>


                        </section>
                        
                        
                    </div>
                    <div class="column is-two-fifths">

                        <section class="m-4">
                            <h5 class="title is-4">2. Peaje</h5>
                        
                            <b-field label="Selecciona el peaje">
                                <b-select v-model="selectPeaje" placeholder="Selecciona el peaje" required>
                                
                                    <option v-for="option in listPeajes" v-bind:value="option.id">
                                        {{ option.text }}
                                    </option>
                                </b-select>
                            </b-field>

                       </section>

                    </div>
                   
                    <div class="column is-two-fifths">

                        <section class="m-4">
                            <h5 class="title is-4">3. Sentido del cobro</h5>
                
                            <b-field label="Selecciona el sentido">
                                <b-select v-model="selectSentido" placeholder="Selecciona el sentido" required>
                                
                                    <option v-for="option in listSentido" v-bind:value="option.id">
                                        {{ option.text }}
                                    </option>
                                </b-select>
                            </b-field>
                       </section>

                    </div>
                  </div>


                  <section >
                    <b-button @click="clickCalculate" type="is-primary">Proceder con calculo</b-button>
                  </section>



                  

            </div>


            


            
              
        
        </div>

        <div class="container">

            <div class="box mt-4"> 

                <div class="columns">
                    <div class="column">
                        <h4 class="title is-4">Resultados</h4>
                    </div>

                </div> 

                <div class="columns">
                    <div class="column">
                        <b-table :data="dataResults" :columns="columnsTable"></b-table>

                    </div>
                </div>

            </div>


        </div>

        

        
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Trafico Peajes Perú Predictor</strong>
              </p>
            </div>
          </footer>



    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    

    <script> 

    var API_BASE = 'http://localhost:8080/flujovehiculo';

    var list_peajes = [
    { text: "AUTOPISTA DEL SOL, TRAMO TRUJILLO-SULLANA - CONCESIONARIA VIAL DEL SOL S.A. - UP BAYOVAR", id: 'A1' },
    { text: "AUTOPISTA DEL SOL, TRAMO TRUJILLO-SULLANA - CONCESIONARIA VIAL DEL SOL S.A. - UP CHICAMA", id: 'A2' },
    { text: "AUTOPISTA DEL SOL, TRAMO TRUJILLO-SULLANA - CONCESIONARIA VIAL DEL SOL S.A. - UP MÓRROPE", id: 'A3' },
    { text: "AUTOPISTA DEL SOL, TRAMO TRUJILLO-SULLANA - CONCESIONARIA VIAL DEL SOL S.A. - UP PACANGUILLA", id: 'A4' },
    { text: "AUTOPISTA DEL SOL, TRAMO TRUJILLO-SULLANA - CONCESIONARIA VIAL DEL SOL S.A. - UP SULLANA", id: 'A5' },
    { text: "CORREDOR VIAL INTEROCEÁNICO SUR PERÚ -BRASIL, TRAMO 1: MARCONA - URCOS - SURVIAL S.A. -CCASACANCHA", id: 'A6' },
    { text: "CORREDOR VIAL INTEROCEÁNICO SUR PERÚ -BRASIL, TRAMO 1: MARCONA - URCOS - SURVIAL S.A. - PAMPA GALERAS", id: 'A7' }
    ]; 

    var list_sentido = [
    { text: "Ascendente", id: 0 },
    { text: "Descendente", id: 1 }
    ]; 

        new Vue({
            el: '#app',
            data() {
                const today = new Date()

                return { 
                    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
                    showWeekNumber: false,
                    locale: 'es-ES', 

                    // Listados
                    listPeajes: list_peajes,  
                    listSentido: list_sentido,


                    // Selects 
                    selectPeaje: '',
                    selectSentido: '',  

                    // Dates
                    datesContent: [{ date: new Date() }],
                    countDates: 1, 


                

                    // Tabla
                    dataResults: [],
                    dataTable: [
                        { 'id': 1,  'date': '2016-10-15', 'flujo': '0' },
                        { 'id': 2, 'date': '2016-12-15', 'flujo': '1' },
                        { 'id': 3, 'date': '2016-04-26', 'flujo': '2' }
                    ],
                    columnsTable: [
                        
                        {
                            field: 'date',
                            label: 'Fecha',
                            centered: true
                        },
                        {
                            field: 'score',
                            label: 'Flujo',
                        }
                    ]



                }
            },

            methods: {
                async clickCalculate() {
                    this.$buefy.notification.open('Se esta procediendo con el cálculo...') 

                    console.log(this.datesContent); 
                    

                    var tollCode = this.selectPeaje; 
                    var paymentDirection = this.selectSentido; 
                    var dates = [];   
                    

                    for (var i = 0; i < this.datesContent.length; i++) {
                        var day = this.datesContent[i].date;
                        dates.push({ "day": day.getDate(), "month": day.getMonth() +1,"year": day.getFullYear() });

                    }

                    const jsonBody = JSON.stringify({ tollCode: tollCode, paymentDirection: paymentDirection, dates: dates });

                    console.log(jsonBody);

                    // Enviar petición POST al backend  

                    await axios.post(API_BASE, jsonBody, {

                      headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }}).then(function (response) {
                        
                        if(response.data) {

                            this.dataResults = response.data.results;
                        }
                    }); 

                   

                    

                },

                

                addDate(){ 

                    if(this.countDates<5) {
                        this.datesContent.push({
                            date:''
                        }) 

                        this.countDates++;
                    }
                    
                },


            }
        })
    </script>
</body>
</html>